@font-face {
  font-family: "zara";
  src: url(../src/Fonts/helveticanowtext-bold-demo.ttf);
}
@font-face {
  font-family: "opti";
  src: url(../src/Fonts/OPTIBodoni-Antiqua.otf);
}

@import "tailwindcss";
@plugin "tailwindcss-motion";


@theme{
  --font-zara: "zara";
  --font-opti: "opti";
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer components {
  .tab{
    @apply  cursor-pointer flex-center relative flex-col transition-all duration-300 ease-in-out
  }
  .tab::after{
    @apply bg-gray-400 content-[''] h-[1px] w-0 rounded-[5px] transition-all duration-300 ease-in-out absolute bottom-0;
  }
  .tab:hover{
      @apply transform after:w-full;
  }
}